version: '3.8'

services:
    database:
        image: mysql:latest
        command: --default-authentication-plugin=mysql_native_password
        environment:
            MYSQL_ROOT_PASSWORD: password
        ports:
            - 3306:3306